/* ==================================
Web fonts
=====================================*/
/* @font-face {
    font-family: ;
} */


/* ==================================
Type Selectors
=====================================*/

body {
    text-align: left;
}

a {
    text-decoration: none;
    padding:5px; 
    color: black; 
}

a:active {
    color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0;
}

h2 {
    color: white;
}

h3 {
    display: inline-block;
} 

/* this is not working.  I'm trying to make 
the <p> elements that follow the <h3> elements in the #deets div appear side by side */


img {
    width: 100%;   
    vertical-align: bottom;
}

p {
    font-size: 14px;
}

ul {
 list-style: none;
}

li {
    margin: -6px 0;
}

footer {
    background-color: #2BBC9B;
    padding:  10px;
    margin: -10px;
}

fieldset {
    border: none;
    display: flex;
}

form {
    padding-bottom: 25px;
    background: white;
    border-radius: 5px;
}



/* ==================================
Class Selectors
=====================================*/
.container {
   margin: none;
   /* display: flex; */
}

.main-nav {
    display: flex;    
    flex-direction: row;
}

.main-nav li {
        padding: 10px 15px;

}

.main-nav li:hover {
        background-color: lightgrey;
}

/* ==================================
ID Selectors
=====================================*/

#hero { 
    margin: -10px;
    margin-bottom: 10px;
    padding: 5%;
    background: #2BBC9B url('../images/Catherine glamor shot.jpg') no-repeat center / cover;
}

#headline {
    text-align: left;
}

#top,
.main-nav {
    display: flex;
}

#top {
    background-color: white;
    margin: -10px;
    padding: 0;
    border: 0;
    flex-direction: column;
    align-items: flex-end;
}

#intro {
    width: 125px;
    color: white;
}

#deets {
    background-color: #f98c84;
  
}

#cost {
    background-color: #A18EB3;
    margin: 10px 0;
    background: url('../images/pink cactus.jpg') no-repeat center / cover;
}

#food {
    background-color: #A1D528;
    margin: 10px 0;
}

#check-out {
    background-color:#e9ba3e;
    margin-bottom: 20px;
}

#backToTop {
    color: white;
    float: right;
}

/* ==================================
Media queries
=====================================*/
@media (min-width: 769px) {
    .row {
        display: flex;
    }

    .row > .section-content {
        width: 50%;
        padding: 10px;
    }

    .row > img {
        width: 50%;
        height: 50%;
        border-left: 10px solid white;
    }
}

@media (min-width: 1025px) {

    
}