* {
    box-sizing: border-box;
}

/* ==================================
Type Selectors
=====================================*/

body {
    text-align: left;
}

a {
    text-decoration: none;
    padding:5px; 
    color: black;
  
}

li:hover {
    background-color: lightgrey;
   
}

a:active {
    color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

h2{
    color: white;
}

h3 {
    
}

div {
    /*margin: 0px;*/
}

img {
    width: 100%;
}

p {
    font-size: 14px;
}

ul {
 list-style: none;
}

li {
    margin: 0;
}

footer {
    background-color: #2BBC9B;
}

/* ==================================
Class Selectors
=====================================*/
.section {
   margin: none;
   
}

.hero { 
    margin: -10px;
    padding: 5%;
    background: #2BBC9B url('../images/Catherine glamor shot.jpg') no-repeat center / cover;
}
.main-nav {
    display: flex;    
    flex-direction: row;
}

.main-nav li {
        padding: 10px 15px;

}



/* ==================================
ID Selectors
=====================================*/


#headline {
    text-align: left;
}
#top {
    background-color: white;
    margin: -10px;
    padding: 0;
    border: 0;
}

#intro {
    width: 125px;
    color: white;
}

#deets {
    background-color: #f98c84;
  
}

#cost {
    background-color: #A18EB3;
}

#food {
    background-color: #A1D528;
  
}

#check-out {
    background-color:#e9ba3e;
  
}

#main-footer {
    padding: 60px 0;
    margin: -10px;
}

#backToTop {
    color: white;
    float: right;
}


/* ==================================
Flexbox styles
=====================================*/




/* ==================================
Float clearfix?
=====================================*/


/* ==================================
Media queries
=====================================*/
@media (min-width: 769px) {

#top,
.main-nav {
    display: flex;
}

#top {
    flex-direction: column;
    align-items: flex-end;
}

}

@media (min-width: 1025px) {

    #top {
        flex-direction: row;
        justify-content: flex-end;
    }
}
/* Need to make sections and photos side by side in wider layouts., but stacked in narrower ones.  */